entrypoint = "index.html"
modules = ["web"]

[nix]
channel = "stable-24_11"
packages = ["static-web-server"]

[deployment]
publicDir = "/version_simple"
deploymentTarget = "static"

[workflows]
runButton = "Serve static"

[[workflows.workflow]]
name = "Serve static"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Starting static web server on port 5000...\""
waitForPort = 80

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Server root: ./version_simple\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "echo \"Visit your site in the Preview tab\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "static-web-server -w ./.config/static-web-server.toml"

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000
